.page-title {
  margin: 0;
}

.page-placeholder-wrapper {
  display: flex;
  justify-content: center;
}

.page-placeholder {
  width: 52.5rem;
  height: 52.5rem;
}

.page-container-subscribe {
  height: 20vh;
  display: block;
}
.paragraph_content.news {
  text-align: center;
}
@media screen and (min-width: 750px) {
  .paragraph_wrapper {
    width: 60%;
    margin: auto;
  }
}
.about-image {
  min-height: 20vh;
}