.logo-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 40%;
  margin-left: 40%;
}
.logo-fixed {
  position: fixed;
  height: 50px;
  left: 0%;
  top: 0%;
  right: 0%;
  bottom: auto;
  z-index: 1000;
}
/* .svg-logo-wrapper {
  max-width: 180px;
  height: 80px;
}
svg {
  max-width: 100%;
} */
.svg-logo {
  position: relative;
  display: block;
  width: auto;
  height: 18px;
  max-height: 18px;
  max-width: none;
  min-height: 18px;
  min-width: auto;
}
@media screen and (max-width: 750px) {
  .logo-container {
    margin: auto;
  }
  .logo-fixed {
    height: 65px;
  }
  /* .svg-logo {
    width: auto;
    height: 18px;
    min-height: 18px;
  } */
}